.t-task(data-ng-class='{\'t-task--done\': task.state === "done"}')
    .div
        input.t-task__state-checkbox(
            id='state-{{::task._id}}'
            type='checkbox'
            data-ng-model='task.state'
            data-ng-true-value='\'done\''
            data-ng-false-value='\'todo\''
            data-ng-change='updateState()'
        )
        label(for='state-{{::task._id}}')
            i.glyphicon(
                tabindex=0
                data-t-keydown='updateState(true)'
                data-t-key=32
            )
    .t-task__static(data-ng-if='!editMode') 
        span.js-text-static.t-task__text(
            tabindex=0
            data-ng-click='edit(true)'
            data-t-keydown='edit(true)'
            data-t-key=13
        ) {{task.text}}
        button.t-task__button(
            role='button'
            data-ng-click='remove()'
        )
            i.glyphicon.glyphicon-remove
    .t-task__edit.form-group(
        data-ng-if='editMode'
        data-t-keydown='edit(false)'
    )
        input.js-text-input.form-control(
            type='text'
            data-ng-model='tmp.text',
            data-t-keydown='updateText()'
            data-t-key=13
        )